<div class="div-form">
    <h1>Création d'un compte</h1>

    <label>Nom</label>
        <input type="text" ngModel>
    <label>Prénom</label>
        <input type="text" ngModel>
    <label>Email</label>
        <input type="email" ngModel>
    <label>Mot de passe</label>
        <input type="password" ngModel> 
    <label>Confirmer votre mot de passe</label>
        <input type="password" >
    <select>
        <option value="organisateur">organisateur</option>
        <option value="participant">participant</option>
    </select>

    <button >S'INSCRIRE</button>

<p>Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
</div>


