<h1>Sarra</h1>

<h2>{{ event.titre }}</h2>
<div><img [src]="event.image"></div>

<fieldset>
    <legend>Billet</legend>
    <label>Date : </label>
    <label><!--{{res.dateR}}--></label>
    <label>Prix : </label>
    <label><!--{{res.prix_B}}--></label>
    <label>Date : </label>
    <label><!--{{res.dateR}}--></label>
    <label>Nombre de places : </label>
    <input type="number" ngModel>
</fieldset>

<div>
    <h2>{{ event.titre }}</h2>

    <p>{{ event.descriptions }}</p>
    <p><b>Developed by :</b>{{ event.titre}}</p>
    <p><b>Maintained by : </b>{{ event.date }}</p>
    <p><b>Support : </b>{{ event.lieu }}</p>
</div>