
<div class="box">
  <h2>Création d'un compte</h2>
  <div class="ligne">
    <div class="champ">
      <label>Nom</label>
      <input type="text" name="nom" [(ngModel)]="nom">
    </div>
    <div class="champ">
      <label>Prénom</label>
      <input type="text" name="prenom" [(ngModel)]="prenom">
    </div>
  </div>
  <div class="champ">
    <label>Email</label>
    <input type="email" name="email" [(ngModel)]="email">
  </div>
  <div class="champ">
    <label>Mot de passe</label>
    <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button class="btn" (click)="onRegister()">S'INSCRIRE</button>
  <div class="bas">
    <p>Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
  </div>
</div>