
<div class="login">
  <h2>Création d'un compte</h2>

  <div class="bloc">
    <label>Nom</label>
    <input type="text" [(ngModel)]="nom" placeholder="Nom">
  </div>

  <div class="bloc">
    <label>Prénom</label>
    <input type="text" [(ngModel)]="prenom" placeholder="Prénom">
  </div>

  <div class="bloc">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" placeholder="Email">
  </div>

  <div class="bloc">
    <label>Mot de passe</label>
    <input type="password" [(ngModel)]="password" placeholder="Mot de passe">
  </div>

  <button class="btn" (click)="onRegister()">S'INSCRIRE</button>

  <p class="txt">
    Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a>
  </p>
</div>