<section>
    <div>
        <img src="assets/eventTunis.jpg">
        <img src="assets/eventTunis2.jpg">
        <img src="assets/eventTunis3.jpg">
        <img src="assets/film1.jpg">
        <img src="assets/film2.jpg">
        <img src="assets/film3.jpg">
        <img src="assets/film4.jpg">
        <img src="assets/sport.avif">
    </div>

    <!--<div *ngFor="let e of event">
        <a [routerLink]="['/event', e.idEvent]">
            <img [src]=[e.image]>
        </a>
    </div>-->


    <div>
        <h1>Théâtre</h1>
        <a routerLink=""><img src="assets/fanen.png"></a>
        <a routerLink=""><img src="assets/spacetoon.png"></a>
        <a routerLink=""><img src="assets/AbdHalim.png"></a>
    </div>
    <div>
        <h1>Sport</h1>
        <a routerLink=""><img src="assets/Sporttt1.png"></a>
        <a routerLink=""><img src="assets/sporttt2.png"></a>
    </div>
    <div>
        <h1>Cenema</h1>
        <a routerLink=""><img src="assets/titanic.png"></a>
        <a routerLink=""><img src="assets/HarryPotter.png"></a>
        <a routerLink=""><img src="assets/frozen.png"></a>
        <a routerLink=""><img src="assets/homeAlone.png"></a>
    </div>
    <div>
        <h1>Spectacle</h1>
        <a routerLink=""><img src="assets/spectacle.png"></a>
        <a routerLink=""><img src="assets/MasrahTounis.png"></a>
    </div>
    <div>
        <h1>Éducation & Formations</h1>
        <a routerLink=""><img src="assets/Formation1.png"></a>
        <a routerLink=""><img src="assets/Formation2.png"></a>
    </div>
    <div>
        <h1>Cuture et art</h1>
        <a routerLink=""><img src="assets/eventTunis.jpg"></a>
        <a routerLink=""><img src="assets/eventTunis2.jpg"></a>
    </div>

</section>